# core dependencies
farm-haystack>=1.15.0
sentence-transformers>=2.2.0
torch>=2.0.0

# web interface
streamlit>=1.22.0

# development dependencies
pytest>=7.3.1
pytest-cov>=4.0.0
python-dotenv>=1.0.0
